
{% extends 'website/basic.html' %}

{% block title%} reservation  {% endblock %}
{% block css %}

#tab{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
} 

#div_border{
    border:solid 1px red;
}

{% endblock %}

        {% block homeurl %} "\"{% endblock %}
        {% block abouturl %} "\meall/" {% endblock %}
        {% block reservationurl %} ""{% endblock %}
        {% block mealurl %} "\decider/" {% endblock %}
        {% block orderurl %} "\order/" {% endblock %}
        
    {% block reservationactive %} active {% endblock %}
    
{% block body %}


	{% load static %}
	
	 
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">

	<div class="container-contact100" style="background-color:black;background-repeat:no-repeat;background-size:cover;      ">
		<div class="wrap-contact100">
			
			<div class="contact100-form-title" style="background-image: url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?cs=srgb&dl=pexels-pixabay-260922.jpg&fm=jpg);">
				<span>Make your Reservation</span>
			</div>

			<form action="\reservation/" method="post" class="contact100-form validate-form">
			{% csrf_token %}
				<div id="" class="wrap-input100 validate-input">
					<input id="tab" class="input100" type="text" name="name" required placeholder="Full name">
					<span class="focus-input100"></span>
					<label class="label-input100" for="name">
						<i class="material-icons">face</i>
					</label>
				</div>

				<div id="" class="wrap-input100 validate-input">
					<input id="tab" class="input100" type="email" name="email" required placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
					<label class="label-input100" for="email">
						<i class="material-icons">email</i>
					</label>
				</div>

				<div id="" class="wrap-input100 validate-input">
					<input id="tab" class="input100" type="number" name="phone" required placeholder="Eg +212600000000">
					<span class="focus-input100"></span>
					<label class="label-input100" for="phone">
						<i class="material-icons">phone</i>
					</label>
				</div>

				

                <div id="" class="wrap-input100 validate-input">
					<input id="tab" class="input100" name="time" type="datetime-local" required placeholder="00/00/00"></input>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<i class="material-icons">access_time</i>
					</label>
				</div>
                <div id="" class="wrap-input100 validate-input">
					<input id="tab" class="input100" type="number" name="nbrepersonnes" required placeholder="Nombre de Personnes">
					<span class="focus-input100"></span>
					<label class="label-input100" for="phone">
						<i class="material-icons">nbrepersonnes</i>
					</label>
				</div>
				<div id="" class="wrap-input100 ">
					<textarea id="tab" class="input100" name="message" required placeholder="Laissez votre message"></textarea>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<i class="material-icons">textsms</i>
					</label>
				</div>


				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">Send Now</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}